<body>
  <div class="container-fluid" style="padding: 1 !important; margin: 0 !important;">
    <div class="alert alert-success" id="sup-success-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Supplier saved.{% endtrans %}
    </div>
    <div class="alert alert-success" id="cus-success-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Customer saved.{% endtrans %}
    </div>
    <div class="alert alert-danger" id="cus-duplicate-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Customer Already Exist!{% endtrans %}
    </div>
    <div class="alert alert-danger" id="sup-duplicate-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Supplier Already Exist!{% endtrans %}
    </div>
    <div class="alert alert-danger" id="failure-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Something went wrong!{% endtrans %}
    </div>
    <div class="alert alert-success" id="cus-delsuccess-alert"  aria-live="rude" role="alert" hidden>
			<a href="" class="close" aria-label="close">&times;</a>
			{% trans %}Customer deleted successfully.{% endtrans %}
		</div>
    <div class="alert alert-success" id="sup-delsuccess-alert"  aria-live="rude" role="alert" hidden>
			<a href="" class="close" aria-label="close">&times;</a>
			{% trans %}Supplier deleted successfully.{% endtrans %}
		</div>
    <div class="alert alert-danger" id="cus-failure-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Customer can not be deleted{% endtrans %}
    </div>
    <div class="alert alert-danger" id="sup-failure-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Supplier can not be deleted{% endtrans %}
    </div>
    <div class="alert alert-danger" id="name-blank-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Please Enter name!{% endtrans %}
    </div>

    <div class="panel shadow customersupplier_panel">
      <div class="panel-body ">
          <div class="alert alert-danger" id="cussup-blank-alert"  aria-live="rude" role="alert" hidden>

            <label for="vno">{% trans %}Please select a customer/supplier!{% endtrans %}</label>
          </div>
          <div class="container-fluid row">
            <div class="form-group col-md-6">
              <label for="edit_cussup_list">{% trans %}Customers & Suppliers List:{% endtrans %}</label>
              <select class="form-control input-sm" id="edit_cussup_list" accesskey="">
                <option value="" disabled hidden selected>Select Customer/Supplier</option>
                <optgroup label="Customers" id="custgroup">
                  {% for customer in customers %}
                  <option value="{{customer['custid']}}">{{customer["custname"]}}</option>
                  {% endfor %}
                </optgroup>
                <optgroup label="Suppliers" id="supgroup">
                  {% for supplier in suppliers %}
                  <option value="{{supplier['custid']}}">{{supplier["custname"]}}</option>
                  {% endfor %}
                </optgroup>
              </select>
            </div>
            </div>

            <div class="col-md-6">
              <div class="form-group hidden-load " hidden>
              <label for="edit_cussup">{% trans %}Role:{% endtrans %}</label>
              <select class="form-control input-sm" id="edit_cussup" accesskey="">
                <option value="3" >Customer</option>
                <option value="19" >Supplier</option>
              </select>
              </div>
            <div class="form-group hidden-load " hidden>
              <label for="edit_cussup_name">{% trans %}Name:{% endtrans %}</label>
              <input class="form-control input-sm" id="edit_cussup_name" placeholder="{% trans %}Enter Name{% endtrans %}" accesskey="">
            </div>
            <div class="form-group hidden-load " hidden>
              <label for="edit_cussup_email">{% trans %}Email:{% endtrans %}</label>
              <input class="form-control input-sm"type="email" id="edit_cussup_email"  accesskey="">
            </div>
            <div class="form-group hidden-load " hidden>
              <label for="edit_cussup_phone">{% trans %}Phone No:{% endtrans %}</label>
              <input class="form-control input-sm" type="text" id="edit_cussup_phone"></input>
            </div>
            <div class="form-group hidden-load" hidden>
              <label for="edit_state">{% trans %}State:{% endtrans %}</label>
              <select class="form-control input-sm add-state" id="edit_state" accesskey="">
                <option value="">Select State</option>
                <option value="Andaman and Nicobar Islands" stateid="1">Andaman and Nicobar Islands</option>
                <option value="Andhra Pradesh" stateid="2">Andhra Pradesh</option>
                <option value="Arunachal Pradesh" stateid="3">Arunachal Pradesh</option>
                <option value="Assam" stateid="4">Assam</option>
                <option value="Bihar" stateid="5">Bihar</option>
                <option value="Chandigarh" stateid="6">Chandigarh</option>
                <option value="Chhattisgarh" stateid="7">Chhattisgarh</option>
                <option value="Dadra and Nagar Haveli" stateid="8">Dadra and Nagar Haveli</option>
                <option value="Daman and Diu" stateid="9">Daman and Diu</option>
                <option value="Delhi" stateid="10">Delhi</option>
                <option value="Goa" stateid="11">Goa</option>
                <option value="Gujarat" stateid="12">Gujarat</option>
                <option value="Haryana" stateid="13">Haryana</option>
                <option value="Himachal Pradesh" stateid="14">Himachal Pradesh</option>
                <option value="Jammu and Kashmir" stateid="15">Jammu and Kashmir</option>
                <option value="Jharkhand" stateid="16">Jharkhand</option>
                <option value="Karnataka" stateid="17">Karnataka</option>
                <option value="Kerala" stateid="19">Kerala</option>
                <option value="Lakshadweep" stateid="20">Lakshadweep</option>
                <option value="Madhya Pradesh" stateid="21">Madhya Pradesh</option>
                <option value="Maharashtra" stateid="22">Maharashtra</option>
                <option value="Manipur" stateid="23">Manipur</option>
                <option value="Meghalaya" stateid="24">Meghalaya</option>
                <option value="Mizoram" stateid="25">Mizoram</option>
                <option value="Nagaland" stateid="26">Nagaland</option>
                <option value="Odisha" stateid="29">Odisha</option>
                <option value="Pondicherry" stateid="31">Pondicherry</option>
                <option value="Punjab" stateid="32">Punjab</option>
                <option value="Rajasthan" stateid="33">Rajasthan</option>
                <option value="Sikkim" stateid="34">Sikkim</option>
                <option value="Tamil Nadu" stateid="35">Tamil Nadu</option>
                <option value="Telangana" stateid="36">Telangana</option>
                <option value="Tripura" stateid="37">Tripura</option>
                <option value="Uttar Pradesh" stateid="38">Uttar Pradesh</option>
                <option value="Uttarakhand" stateid="39">Uttarakhand</option>
                <option value="West Bengal" stateid="41">West Bengal</option>
              </select>
            </div>
          </div>
            <div class="col-md-6">
              <div class="form-group hidden-load " hidden>
                <label for="edit_cussup_address"> Street and City:</label>
                <textarea class="form-control" rows="2" cols="40" id="edit_cussup_address" aria-describedby="textareahelp"></textarea>
                <small id="textareahelp" class="form-text text-muted">Press Enter Key twice to shift focus to Fax</small>
              </div>

            <div class="form-group hidden-load " hidden>
              <label for="edit_cussup_fax">{% trans %}Fax:{% endtrans %}</label>
              <input class="form-control input-sm" type="text" id="edit_cussup_fax"></input>
            </div>
            <div class="form-group hidden-load " hidden>
              <label for="edit_cussup_pan">{% trans %}PAN:{% endtrans %}</label>
              <input class="form-control input-sm" type="text" id="edit_cussup_pan"></input>
            </div>
            <div class="form-group hidden-load " hidden>
              <label for="edit_cussup_tan">{% trans %}TIN:{% endtrans %}</label>
              <input class="form-control input-sm" type="text" id="edit_cussup_tan"></input>
            </div>
          </div>
      </div>


      <div class="panel-footer">
        <button class="btn btn-primary btn-sm" id="cussup_edit_save" data-toggle="tooltip" data-placement="top" title="{% trans %}Press Insert to save anywhere on the current screen to save{% endtrans %}">{% trans %}Save{% endtrans %}</button>
        <button id="cussup_delete" class="btn btn-danger btn-sm">{% trans %}Delete{% endtrans %}</button>
        <button id="edit_cussup_btn" class="btn btn-primary btn-sm">{% trans %}Edit{% endtrans %}</button>
        <button id="edit_cussup_reset" class="btn btn-warning btn-sm">{% trans %}Reset{% endtrans %}</button>
      </div>
   </div>
   <div id="confirm_del" class="modal fade" tabindex="-1" role="dialog">
     <div class="vertical-alignment-helper">
       <div class="modal-dialog modal-sm vertical-align-center">
         <div class="modal-content">
           <div class="modal-header">

             <h4 class="modal-title">{% trans %}Delete?{% endtrans %}</h4>
           </div>
           <div class="modal-body">
             <p>{% trans %}Are you sure?{% endtrans %}</p>
           </div>
           <div class="modal-footer">
             <button type="button" id ="m_cancel" class="btn btn-warning" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
             <button type="button" id="accdel" data-dismiss="modal" class="btn btn-danger">{% trans %}Delete{% endtrans %}</button>
           </div>
         </div><!-- /.modal-content -->
       </div><!-- /.modal-dialog -->
     </div>
   </div><!-- /.modal -->


  </div>
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/editcustomersupplier.js')}}"></script>
</body>
