<body>
<div class="container-fluid" style="padding:1 !important; margin:0 !important;">
    <div class='panel '>



  <div class="panel-body">
    <form id="editprodform">
      <div class="container-fluid row nopadding">

    <div class="form-group  col-sm-6">



      <label for="prodselect">{% trans %}Select Product{% endtrans %} :</label>
        <select class = "form-control input-sm"  name = "productcode" id="prodselect" >
          <option value="" disabled selected hidden>{% trans %}Select Product{% endtrans %}</option>
          {% for prod in gkresult %}
          <option value="{{prod['productcode']}}">{{prod["productdesc"]}}</option>
          {% endfor %}
        </select>


    </div>
  </div>
      <div class="container-fluid" id="proddetails" style="padding:1 !important; margin:0 !important;" disabled >

      </div>
    </form>
      </div>
      <div class="btn-group-sm pbutn panel-footer" hidden>
        <div class="container-fluid">

        <button class="btn btn-success btn-sm" id="epsubmit" name="submit" data-toggle="tooltip" data-placement="top" title="Press Insert key anywhere on the screen to save">{% trans %}Save{% endtrans %}</button>
        <button id="epedit" class="btn btn-primary btn-sm">{% trans %}Edit{% endtrans %}</button>
        <button id="epdelete" class="btn btn-danger btn-sm">{% trans %}Delete{% endtrans %}</button>
        <button id="epreset" class="btn btn-warning btn-sm">{% trans %}Reset{% endtrans %}</button>
        <button id="addgodown" class="btn btn-info btn-sm" accesskey="a">{% trans %}<u>A</u>dd Godown{% endtrans %}</button>
      </div>

      </div>
      <div id="m_confirmdel" class="modal fade" tabindex="-1" role="dialog">
        <div class="vertical-alignment-helper">
          <div class="modal-dialog modal-sm vertical-align-center">
            <div class="modal-content">
              <div class="modal-header">

                <h4 class="modal-title">{% trans %}Delete?{% endtrans %}</h4>
              </div>
              <div class="modal-body">
                <p>{% trans %}Are you sure?{% endtrans %}</p>
              </div>
              <div class="modal-footer">
                <button type="button" id ="m_cancel" class="btn btn-warning" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
                <button type="button" id="proddel" data-dismiss="modal" class="btn btn-danger">{% trans %}Delete{% endtrans %}</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div>
      </div><!-- /.modal -->
      <div id="addgodownpopup">

      </div>
    </div>
  </div>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/editproduct.js')}}"></script>
  </body>
