<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% trans %}GNUKhata | Invoice{% endtrans %}</title>
  <style media="screen">
  .nopadding {
    padding: 0 !important;
    margin: 0 !important;
  }

  .fixed-table td {
      font-size: 75%;
      padding: 4 !important;
      margin: 4 !important;
    }
  .fixed-table th {
      font-size: 85%;
  }

  .fixed-tablepurchase tbody {
      display:block;
      height: calc(100vh - 25.5em);
      min-height: 160px;
      overflow-y:scroll;
  }

  .fixed-tablesale tbody {
      display:block;
      height: calc(100vh - 29em);
      min-height: 140px;
      overflow-y:scroll;
  }


  .viewfixed-tablepurchase tbody {
      display:block;
      height: calc(100vh - 28.5em);
      min-height: 160px;
      overflow-y:scroll;
  }

  .viewfixed-tablesale tbody {
      display:block;
      height: calc(100vh - 33em);
      min-height: 140px;
      overflow-y:scroll;
  }


  .fixed-table thead ,.fixed-table tbody tr,.fixed-table tfoot tr {
      display:table;
      width:100%;
      table-layout:fixed;
  }
  .fixed-table thead {
      width: calc( 100% - 0.75em );
  }

  .fixed-table tfoot {
    display:block;
    width: calc( 100% - 0.75em );
  }


  </style>
</head>
<body>
  <div class="container-fluid row" >
    <ul class="nav nav-pills nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="" id="invoice_record" role="tab" data-toggle="tab">{% trans %} Record Purchase Invoice{% endtrans %}</a></li>
      <li role="presentation" ><a href="" id="invoice_create" role="tab" data-toggle="tab">{% trans %} Create Sale Invoice{% endtrans %}</a></li>
      <li role="presentation" ><a href="" id="invoice_view" role="tab" data-toggle="tab">{% trans %}View Invoice{% endtrans %}</a></li>

    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="invoice_div">

      </div>
      <input id="selectedcustsup" type="hidden">
    </div>


  </div>

<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/invoice.js')}}"></script>
</body>
</html>
